.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1000;
  background: #ffffff;
  box-shadow: 0 10px 100px rgba(0, 0, 0, 0.1);
}

.headerContent {
  display: flex;
  align-items: center;
  cursor: pointer;
  justify-content: space-between;
  padding-left: 25px;
}

.headerMain {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
}


